<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head th:replace="~{fragments/head :: head(${pageTitle})}"></head>
<body class="min-h-screen flex flex-col antialiased">
    <a href="#conteudo" class="sr-only focus:not-sr-only focus:absolute focus:top-2 focus:left-2 focus:z-[100] focus:bg-[#FFDE59] focus:text-black focus:font-extrabold focus:px-4 focus:py-2 focus:border-[3px] focus:border-black">
        Pular para o conteúdo
    </a>

    <div th:replace="~{fragments/header :: header}"></div>
    <div th:replace="~{fragments/navigation :: navigation(${activePage})}"></div>

    <main id="conteudo" role="main" class="flex-1 w-full nb-grid-bg">
        <div class="max-w-7xl mx-auto w-full px-4 sm:px-6 lg:px-8 py-8">
            <div th:replace="~{__${mainContent}__}"></div>
        </div>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
